{% extends 'base.html' %}
{% block title %}在线评测{% endblock %}
{% block head %}
    <script src="{{ url_for('static',filename='js/ise.js') }}"></script>
{% endblock %}

{% block body %}
    <form id="upload-group" class="upload-group" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Appid" name="appid">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Apikey" name="apikey">
        </div>
        <div class="form-group">
            <textarea name="ise-content" id="" cols="30" rows="10" class="form-control" placeholder="评测文本"></textarea>
        </div>
        <div class="form-group">
            <label for="InputFile"></label>
            <input type="file" id="InputFile" name="InputFile">
        </div>
        <div class="checkbox" style="text-align: left">
            <label style="padding-left: unset">
                <input type="radio" value="read_syllable" name="checkbox" checked> 单字评测，汉语专有
            </label>
            <label>
                <input type="radio" value="read_word" name="checkbox"> 词语评测
            </label>
            <label>
                <input type="radio" value="read_chapter" name="checkbox"> 段落评测
            </label>
        </div>
        <div class="checkbox" style="text-align: left">
            <label style="padding-left: unset">
                <input type="radio" value="zh_cn" name="checkbox1" checked> 汉语
            </label>
            <label>
                <input type="radio" value="en_us" name="checkbox1"> 英语
            </label>
        </div>
        <div class="checkbox" style="text-align: left">
            <label>
                <input type="checkbox" value="multi_dimension" name="multi_dimension"> 全维度
            </label>
{#            <label style="padding-left: 50px">#}
{#                <input type="checkbox" value="chapter" name="chapter"> 高阶段落#}
{#            </label>#}
        </div>
        <button id="submit" type="submit" class="btn btn-default">Submit</button>
        {% if result %}
            <div style="border:1px solid #444444;margin-top: 5px">
                {{ result }}
            </div>
        {% endif %}
    </form>
{% endblock %}