{% extends 'base.html' %}
{% block title %}在线转写{% endblock %}
{% block head %}

    <script src="{{ url_for('static',filename='lfasr_ajax.js') }}"></script>
    <script src="{{ url_for('static',filename='lfasr_alert.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lfasr.js') }}"></script>
    <style>
        .body {
            text-align: center;
        }
        .upload-group {
            text-align: center;
            margin: 20px auto;
            width: 500px;
            align-content: center;
        }
    </style>
{% endblock %}

{% block body %}
    <form id="upload-group" class="upload-group" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Appid" name="appid">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Apikey" name="apikey">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="email" class="form-control" id="email" placeholder="email" name="email">
        </div>
        <div class="form-group">
            <label for="InputFile"></label>
            <input type="file" id="InputFile" name="InputFile">
        </div>
        {#  <div class="checkbox">#}
        {#    <label>#}
        {#      <input type="checkbox"> Check me out#}
        {#    </label>#}
        {#  </div>#}
        <button id="submit" type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
