{% extends 'base.html' %}

{% block head %}
    {#    <script src="{{ url_for('static',filename='js/tts.js') }}"></script>#}
{% endblock %}

{% block body %}
    <form id="upload-group" class="upload-group" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Appid" name="appid">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Apikey" name="apikey">
        </div>
        <div class="form-group">
            <select name="voice_name" class="selectpicker show-tick form-control" required data-live-search="true">
                {% if message %}
                    {% for key in message %}
                        <option value="{{ message[key] }}">{{ key }}: {{ message[key] }}</option>
                    {% endfor %}
                {% endif %}

            </select>
            {#               <a id="download" href="{{ url_for('ttsview', rq='file') }}" style="display: none"><span id="gg"></span></a>#}
        </div>
        <div class="form-group">
            <textarea id="tts-content" name="text" cols="30" rows="10" class="form-control"
                      placeholder="合成文本"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="audio/L16;rate=8000" name="checkbox"> 8k音频请勾选，默认16k
            </label>
        </div>
        <button id="submit" type="submit" class="btn btn-default">Submit</button>

        {% if result %}
            <div style="border:1px solid #444444;width:500px;height:300px;margin-top: 5px">
                {{ result }}
            </div>
        {% endif %}
    </form>
{% endblock %}